.product-container {
	width: 75%;
	display: flex;
	flex-wrap: wrap; 
	justify-content: flex-start;
	padding: 20px;
}

.product-card { 
  height: 400px;
	flex: 0 0 25%;
	border-radius: 20px;
	box-shadow: 0 0 5px 2px #fff;
	-webkit-box-shadow: 0 0 5px 2px #fff;
	-moz-box-shadow: 0 0 5px 2px #fff;
	.product-img {
		height: 75%;
		width: auto;
	}
	.product-description-container {
		display: flex;
		padding: 0 20px;
		flex-direction: row;
		height: 25%;
		width: auto;
		justify-content: space-between;
	}
}